<li><a asp-action="Logout" asp-controller="Account" class="navbar-brand">@User.Identity.Name</a></li>
<li><a href="~/Role/Index" class="navbar-brand">Список пользователей</a></li>
<li><a asp-action="Index" asp-controller="Auction"  class="navbar-brand">Аукцион</a></li>